<div class="row border border-primary"  >
	<div class="col-md-3">
		<label >
			<span class="far fa-arrow-alt-circle-left fa-2x" style="color: #0171DC"></span>
			<span class="far fa-arrow-alt-circle-right fa-2x mr-2"  style="color: #0171DC"></span>
		</label>
		<small>
		<label class="mr-4"> <span class="fas fa-caret-right  "> </span> Library </label>
		<label class="mr-4"><span class="fas fa-caret-right "> </span> Videos</label>
		<label><span class="fas fa-caret-right "> </span> All Vidoes</label>
		</small>
	</div>
	<div class="col-md-6"></div>
	<div class="col-md-3  mt-2 justify-content-end">
		<input type="button" value="Play" class="mr-2 rounded-top border-bottom-0 pt-1 w-25 active"/>
		<input type="button" value="Burn" class="mr-2 rounded-top border-bottom-0 pt-1 w-25 "/>
		<input type="button" value="Sync" class=" mr-2 rounded-top border-bottom-0 pt-1 w-25 "/>
	</div>
</div>

	
<div class="row border border-secondary border-top-0 text-sm ">
	<div class="col-md-4 col-12">
		<label class="mr-3">
			<small class="mr-2"> Organise </small>
			<span class="fas fa-caret-down "></span>
		</label>
		<label class="mr-3">
		    <small class="mr-2">Stream</small> 
			<span class="fas fa-caret-down mr-2"></span>
		</label>
		<label>
			<small class="mr-2"> Create Playlist</small>
			<span class="fas fa-caret-down mr-2"></span>
		</label>
	</div>
	<div class="col-md-5 col-12 ">
		<div class="input-group  justify-content-end">
			<input type="search" placeholder="search" class=" w-50">
			<div class="input-group-append">
				<span class="fas fa-search input-group-text">
				<span class="fas fa-caret-down"></span>
				</span>
				
			</div>
			
		</div>
	</div>
	<div class="col-md-3 d-none d-md-block">
	</div>
</div>

	
			 
		   
		   	
		   
		    
		   
	

	
			 
		   
		  