<div>
	<div class="container-fluid" >
		<div class="row  fixed-top ">
			<div class="col-12">
				<app-nav></app-nav>			
			</div>		
		</div>
		<div class="row" style="padding-top: 40px;" >
			<div class="col-12 col-md-2 well border" style="padding-top:120px;"> 
			 	<app-playlist> </app-playlist>
			</div>
			 <div class="col-12 col-md-8 well border  pt-sm-5"><app-main></app-main></div>
			 <div class="col-12 col-md-2 well border" style="padding-top:60px;"> <app-details></app-details> </div>				
		</div>
		<div class="row fixed-bottom">
			<div class="col-sm-12">
				<app-dock></app-dock>			
			</div>		
		</div>		
	</div>
</div>